<% content_for :custom_assets do %>
  <%= stylesheet_link_tag 'note' %>
<% end %>

<h1>为QQ号<%= @qq.number %>添加说明</h1>

<form action="<%= qq_notes_path %>" method="post" class="form-horizontal new-note-form">
  <legend>添加说明</legend>
  <%= render 'form' %>
  <div class="form-group actions">
    <div class="col-lg-6 col-offset-2">
      <button type="submit" class="btn btn-primary">添加</button>
      <%= link_to '返回', root_path(qq: @qq.number) %>
    </div>
  </div><!-- .actions -->
</form><!-- End .new-note-form -->
