<p id="notice"><%= notice %></p>

<p>
  <strong>Qq:</strong>
  <%= @note.qq %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @note.creator %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', qq_notes_path(@note.qq) %>
