<% content_for :custom_assets do %>
  <%= stylesheet_link_tag 'search' %>
<% end %>

<% if flash.any? %>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <% flash.each do |name, msg| %>
      <%= msg %>
    <% end %>
  </div><!-- End .alert -->
<% end %>
<form action="" method="get" class="form-inline search-form">
  <div class="col-lg-6">
    <input type="text" class="form-control" placeholder="请输入要查询的QQ号" id="qq" name="qq" />
    <button type="submit" class="btn btn-primary">查找</button>
    <%= link_to '添加QQ号', new_qq_path %>
  </div>
</form><!-- End .search-form -->
<div class="clearfix"></div>
<div class="rows search-result <% if @qq and @qq.status == '已删除' %>deleted<% end %>">
  <div class="col-lg-8">
    <% if @number %>
      <h2>查询结果</h2>
      <% if @qq %>
        <div class="qq">
          <p class="content">QQ号<span class="number"><%= @number %></span>位于<span class="list"><%= @qq.list.name %></span><% if @qq.status == '已删除' %>(已删除)<% end %>。</p>
          <% unless @qq.status == '已删除' %>
            <% if @qq.list.name == '黑名单' %><%= button_to '移动到白名单', move_qq_path(@qq, target: '白名单') %><% end %>
            <% if @qq.list.name == '白名单' %><%= button_to '移动到黑名单', move_qq_path(@qq, target: '黑名单') %><% end %>
          <% end %>
          <% if @qq.status == '已删除' %>
            <%= button_to '恢复', recover_qq_path(@qq) %>
          <% elsif @qq.status == '正常' %>
            <%= button_to '删除', qq_path(@qq), method: :delete %>
          <% end %>
          <div class="clearfix"></div>
          <div class="notes">
            <h3>相关信息</h3>
            <% @qq.note.each do |note| %>
              <div class="note">
                <p class="content"><%= note.content %></p>
                <% unless note.creator == session[:username] %>
                  <p class="meta">用户<span class="user"><%= note.creator %></span>于<span class="date"><%= note.created_at.to_formatted_s(:db) %></span>添加<% if note.created_at != note.updated_at %>，最后更新于<span class="date"><%= note.updated_at.to_formatted_s(:db) %></span><% end %></p>
                <% else %>
                  <p class="meta">
                    您于<span class="date"><%= note.created_at.to_formatted_s(:db) %></span>添加<% if note.created_at != note.updated_at %>，最后更新于<span class="date"><%= note.updated_at.to_formatted_s(:db) %></span><% end %>
                    <%= link_to '修改', edit_note_path(note) %>
                    <%= link_to '删除', note_path(note), method: :delete %>
                  </p>
                <% end %>
              </div>
            <% end %>
            <%= button_to '添加说明', new_qq_note_path(@qq), method: :get, class: 'more-note' %>
          </div><!-- End .notes -->
        </div><!-- End .qq -->
      <% else %>
        <p>QQ号<span class="number"><%= @number %></span>未找到！</p>
      <% end %>
    <% end %>
  </div><!-- End .col-lg-6 -->  
</div><!-- End .search-result -->
