<%= form_for(@qq) do |f| %>
  <% if @qq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qq.errors.count, "error") %> prohibited this qq from being saved:</h2>

      <ul>
      <% @qq.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number, 'QQ号' %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= radio_button_tag :list, 'blacklist' %>
    <%= label_tag :list_blacklist, '黑名单' %>
    <%= radio_button_tag :list, 'whitelist' %>
    <%= label_tag :list_whitelist, '白名单' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
