<!DOCTYPE html>
<html>
<head>
  <title>Qqlist</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar header">
      <a class="navbar-brand" href="#">QQ黑名单白名单系统</a>
      <% if session[:username] %>
        <ul class="nav navbar-nav pull-right">
          <li><a href="#"><%= session[:username] %></a></li>
          <li><%= button_to '退出', logout_path, method: :delete, class: 'btn ben-default navbar-btn' %></li>
        </ul>
      <% end %>
    </div><!-- End .header -->

    <%= yield %>
  </div>
</body>
</html>
